extends layout

block content
  h1= title
  p Welcome to #{title}
  if user
    Hello #{user.username}
    ul
      li
        a(href="/membership") Manage membership status
      li
        a(href="/post") Post