doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/stylesheets/layout.css")
  body
    nav(class="nav-bar")
      ul
        li
          a(href="/") Home
        if !user
          li
            a(href="/login") Log in
          li
            a(href="/sign-up") Sign Up
        if user 
          a(href="/new-post") New post
        if user && user.membership === false
          li
            a(href="/membership") Become a member
    div(class="content")
      block content
