extends layout

block content
    h1 Log in
    if error
        p aliens
    form(method="POST" action="")
        .form-group
            label(for="username") Username:
            input(type="text" placeholder="Username" name="username" required="true")
            label(for="password") Password:
            input(type="password" name="password" required="true")
        button(type="submit") Submit